@font-face {
    font-family: Rio-Grande;
    src: url('./RioGrande.ttf') format('truetype');
}
@font-face {
    font-family: Eastwood;
    src: url('./Eastwood.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100hv;
}

.cpu {
    display: flex;
    flex-wrap: wrap;
}

.player {
    display: flex;
    flex-wrap: wrap;
}

.player-table-container, .cpu-table-container {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.player-dice-container, .cpu-dice-container {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    width: 175px;
    height: 175px;
    border: 2px solid #303030;
    text-align: center;
    font-size: 6em;
    cursor: pointer;
    font-family: Eastwood;
}

#player-table {
    background-color: #5395AA;
}

#cpu-table {
    background-color: #AD3434;
}

tr {
    border-bottom: 1px solid #303030;
}

.dice {
    margin-top: 3em;
    font-size: 6em;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 1.5em;
    border: 2px solid #303030;
    border-radius: 20px;
    cursor: pointer;
    font-family: Eastwood;
}

#player-dice {
    background-color: #5395AA;
}

#cpu-dice {
    background-color: #AD3434;
}

.title-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 4.5em;
    font-family: Rio-Grande;
}

h2 {
    font-size: 2em;
    font-family: Rio-Grande;
}

.info-container {
    text-align: center;
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.info-title {
    text-align: center;
}

p {
    font-family: Eastwood;
    font-size: 1.3em;
}

b {
    color: #5395AA;
}

i {
    color: #AD3434;
}